In [14]:
import pandas as pd
import os
import regex as re
import numpy as np
from numpy.linalg import norm
from ast import literal_eval
# import matplotlib.pyplot as plt

In [15]:
topics = pd.read_pickle('./topics.pkl')
topics.head()

,argentina,australia,brazil,canada,china,france,germany,india,indonesia,italy,japan,korea,mexico,russia,arabia,africa,turkey,uk,america,eu
0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,1,1,1,1
1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,1,0
2,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,1

In [16]:
df_sum = topics.sum(numeric_only=True)

In [17]:
df_sum

argentina     556
australia     533
brazil        597
canada        361
china         551
france        399
germany       454
india         560
indonesia     537
italy         424
japan         172
korea         559
mexico        263
russia        399
arabia        503
africa        527
turkey        241
uk            524
america      1036
eu            344
dtype: int64

In [22]:
topics['total'] = topics.loc[:,'argentina':'eu'].sum(axis=1)

In [25]:
topics[topics['total']<1]

,argentina,australia,brazil,canada,china,france,germany,india,indonesia,italy,...,korea,mexico,russia,arabia,africa,turkey,uk,america,eu,total
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2216,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0