# Creating Mean Doc Embeddings from the averages of all words

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
from gensim.models import Word2Vec
import gensim.downloader as api
from numpy.linalg import norm
import pandas as pd
import regex as re
import numpy as np
import os

In [27]:
data = pd.read_csv("/Users/aditya/Documents/GitHub/tegger-challenge/data.csv").iloc[:,1:]
data.head()

,all,theme,title,contents,argentina,australia,brazil,canada,china,france,...,japan,republic of korea,mexico,russia,saudi arabia,south africa,turkey,united kingdom,united states,european union
0,musician tackle *USA red tape musician group t...,entertainment,Musicians to tackle US red tape,Musicians' groups are to tackle US visa regula...,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
1,u2 desire number one u2 three prestigious gram...,entertainment,U2's desire to be number one,"U2, who have won three prestigious Grammy Awar...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,rocker doherty onstage fight rock singer pete ...,entertainment,Rocker Doherty in on-stage fight,Rock singer Pete Doherty has been involved in ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,snicket top *USA box office chart film adaptat...,entertainment,Snicket tops US box office chart,The film adaptation of Lemony Snicket novels h...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,ocean twelve raid box office ocean twelve crim...,entertainment,Ocean's Twelve raids box office,"Ocean's Twelve, the crime caper sequel starrin...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [31]:
corpus = [entry.split(" ") for entry in data['all']]

In [33]:
# model.save("w2v_saved.model")
model = Word2Vec.load("w2v_saved.model")

In [34]:
g20 = "Argentina, Australia, Brazil, Canada, China, France, Germany, India, Indonesia, Italy, Japan, Republic of Korea, Korea, Mexico, Russia, Saudi Arabia, Arabia, South Africa, Africa, Turkey, United Kingdom, UK, United States, America, USA, European Union, EU, Europe".lower()
g20 = g20.split(", ")

In [42]:
def get_mean_vector(word2vec_model, words):
    words = [word for word in words if word in word2vec_model.wv.vocab.keys()]
    if len(words) >= 1:
        avg1= np.mean(word2vec_model[words], axis=0)
        return avg1
    else:
        return []

In [43]:
data['mean_emb'] = data['all'].apply(lambda x: get_mean_vector(model, x.split(" ")))

In [44]:
data.head()

,all,theme,title,contents,argentina,australia,brazil,canada,china,france,...,republic of korea,mexico,russia,saudi arabia,south africa,turkey,united kingdom,united states,european union,mean_emb
0,musician tackle *USA red tape musician group t...,entertainment,Musicians to tackle US red tape,Musicians' groups are to tackle US visa regula...,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,1,"[0.010030553, 0.010555822, 0.0056487704, -0.00..."
1,u2 desire number one u2 three prestigious gram...,entertainment,U2's desire to be number one,"U2, who have won three prestigious Grammy Awar...",0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,"[0.009995017, 0.012596794, 0.0047847545, -0.00..."
2,rocker doherty onstage fight rock singer pete ...,entertainment,Rocker Doherty in on-stage fight,Rock singer Pete Doherty has been involved in ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[0.0095635895, 0.012760582, 0.004244135, -0.00..."
3,snicket top *USA box office chart film adaptat...,entertainment,Snicket tops US box office chart,The film adaptation of Lemony Snicket novels h...,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,"[0.009604343, 0.014471119, 0.0036928602, -0.00..."
4,ocean twelve raid box office ocean twelve crim...,entertainment,Ocean's Twelve raids box office,"Ocean's Twelve, the crime caper sequel starrin...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,"[0.0082686655, 0.012306145, 0.003344359, -0.00..."

In [45]:
data.to_pickle('/Users/aditya/Documents/GitHub/tegger-challenge/Pickles/mean_embeddings.pkl')

# From here we go to Cosine SImilarities