# Checking for Top counted words in each Theme

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
from gensim.models import Word2Vec
import gensim.downloader as api
from numpy.linalg import norm
import pandas as pd
import regex as re
import numpy as np
import os

In [9]:
data = pd.read_csv("/Users/aditya/Documents/GitHub/tegger-challenge/data.csv").iloc[:,1:3]
data.head()

                                                 all          theme
0  musician tackle *USA red tape musician group t...  entertainment
1  u2 desire number one u2 three prestigious gram...  entertainment
2  rocker doherty onstage fight rock singer pete ...  entertainment
3  snicket top *USA box office chart film adaptat...  entertainment
4  ocean twelve raid box office ocean twelve crim...  entertainment

In [10]:
themes = ['entertainment', 'business', 'politics', 'sport', 'tech']

In [40]:
for each in themes:
    cv=CountVectorizer(min_df=10,stop_words='english', max_df=0.85, ngram_range=(1,3))
    word_count_vector=cv.fit_transform(data[data.theme==each]['all'])
    print("\n" + each + "\n\n")
    print(pd.DataFrame(word_count_vector.toarray().sum(axis=0), cv.vocabulary_.keys()).sort_values(by=0)[-20:])

entertainment


                     0
wilson             206
achievement award  208
asked              210
history            213
project            227
thousand           232
short              233
need               233
eventually         235
fact               241
spokeswoman        249
irish              322
split              323
beautiful          328
best actor         435
veteran            506
later              591
voter              595
celebrity          825
help               941

business


               0
43           294
greater      307
2005         310
finance      310
shell        311
looked       319
special      357
lawyer       383
fully        384
small        385
merge        385
asian        413
improvement  414
car maker    416
deficit      520
summer       555
reached      603
use          627
boosting     789
threatened   884

politics


                          0
turning                 322
margin                  328
served                  340
credit                  358
writing                 359
deputy prime minister   360
say mr                  384
argument                409
developing              410
stopped                 430
involvement             501
government say          510
fine                    565
news                    574
labour manifesto        623
committee said          629
couple                  709
predicted               743
pair                    760
test                   1718

sport


                              0
skill                       259
began                       264
spell                       265
brian odriscoll             270
manchester city             285
athlete                     289
cross country championship  292
goalkeeper                  304
hemisphere                  310
settle                      312
fan                         322
tom                         385
opinion                     386
new year                    444
broken                      459
turning                     468
jason gardener              474
germany                     503
roddick                     647
favour                      941

tech


                          0
china                   354
clicking                359
initially               365
bbc                     373
provide                 373
regularly               377
corporation             379
various                 384
technical               391
installed               404
digital video recorder  466
linux                   498
story                   510
analyst jupiter         512
behaviour               517
bandwidth               539
higher                  585
dropped                 617
application             720
money                   960